.card.card-video {
	overflow: hidden;

	video {
		width: 100%;
		height: auto;
	}

	.video-container{
		display:none;
	}
	.photo-placeholder-container{
		width:100%;
		height:100%;
	}

	
	.placeholder-background{
		height:100%;
		width:100%;
		background-size:cover;
		position: absolute;
		top:0;
		left:0;
		z-index:0;
		img{
			display:none;
		}
	}
	.placeholder-content{
		transform:translateY(-50%);
		top:45%;
		left:20px;
		right:20px;
		z-index:1;
		// overflow: hidden;
		position: absolute;
		.placeholder-mobile .video-time{
			float:left;
			font-family:$f-sans-serif-text;
			font-size:14px;
			margin:28px 0 0 10px;
		}
		&:after{
			display: block;
			content:'';
			clear:both;
		}
		
		.placeholder-mobile .video-caption{
			&:before{
				height:1px;
				width:70px;
				background:#fff;
				display:block;
				content:'';
			}
			padding-top:40px;
			
			clear:both;
			font-size:16px;
			line-height:24px;
			margin:0;
			color:#fff;
			font-weight:100;
			width:75%;
		}
	}
	.play-btn{
		width:80px;
		height:80px;
		background-color:#fff;
		border-radius:80px;
		border:1px solid #fff;
		outline:none;
		background-image: url(/imgs/play-btn-mobile.svg);
		background-repeat:no-repeat;
		background-position:28px center;
		float:left;
	}

	.placeholder-desktop{
		display:none;
	}

	@media(max-width: breakpoints(tablet)){
		&.video-playing {
			.photo-placeholder-container{
				display:none;
			}
		}
		.button-background{
			width: 140px;
		    background: rgba(255,255,255,0.2);
		    height: 140px;
		    border-radius: 180px;
		    position: absolute;
		    left: -30px;
		    top: -30px;
		    z-index:0;
		    animation: 2s videoplay cubic-bezier(0, 0.38, 0.49, 1) infinite;
		}
		@keyframes videoplay {
		    0% {transform: scale(1);}
		    50% {transform: scale(1.2);}
		    100% {transform: scale(1);}
		}
	}

	@media(min-width: breakpoints(tablet)){
		height:auto;
		position: relative;
		margin-top:1em;

		.photo-placeholder-container{
			position: absolute;
			top:0;
			left:0;
			cursor:pointer;
			background:rgba(0,0,0,0.4);
			opacity:0;
			transition: 0.4s opacity;
			&:hover{
				opacity:1;
				
			}
		}

		.placeholder-background{
			display:none;
			background:none;
		}

		.video-container{
			display:block;
			line-height:0;
		}

		.placeholder-content{
			transform:none;
			top:40%;
			text-align: center;
		}

		.placeholder-mobile{
			display:none;
		}

		.placeholder-desktop{
			display:block;
			p{
				position: relative;
				transform:none;
				vertical-align: top;
				display:inline-block;
				font-family: $f-sans-serif-text;
				margin:32px 0 0 10px;
				width:50px;
				text-align: left;
			}
		}

		.placeholder-desktop{
			display: inline-block;
		}

		.pause-btn,.play-btn,.unmute-btn{
			display:none;
			width:88px;
			height:88px;
			border-radius:88px;
			background:transparent;
			border: 1px solid #fff;
			outline:none;
			background-repeat: no-repeat;
			background-position:center;
			cursor:pointer;
			&:hover{
				border-color:#ffbb00;
			}
		}
		// button:hover + .video-time,button:hover + button + .video-time,button:hover + button + button + .video-time{
		// 	color:#ffbb00;
		// }

		&.video-playing{
			.play-btn{
				display:inline-block;
				background-image: url(/imgs/pause-btn.svg);
				float:none;
				&:hover{
					background-image: url(/imgs/pause-hover-btn.svg);
				}
			}
		}
		&.video-paused{
			.pause-btn{
				display:inline-block;
				background-image: url(/imgs/play-btn.svg);
				&:hover{
					background-image: url(/imgs/play-hover-btn.svg);
				}
			}

			.photo-placeholder-container{
				opacity:1;
			}
		}

		&.video-muted{
			.unmute-btn{
				display:inline-block;
				background-image: url(/imgs/unmute-btn.svg);
				&:hover{
					background-image: url(/imgs/unmute-hover-btn.svg);
				}
			}
			&.video-paused{
				.pause-btn{
					display:none;
				}
			}
			&.video-playing{
				.play-btn{
					display:none;
				}
			}
			
		}

		

		// &.size-m, &.size-l, &.size-xl{
		// 	.unmute-button{
		// 		font-size:16px;
		// 		height:44px;
		// 		background-size:24px;
		// 		padding: 1px 20px 0 54px;
		// 	}
			
		// }
		
	}
	@media (min-width:480px) and (max-width:breakpoints(tablet)){
		.placeholder-content{
			right:40px;
			left:40px;
		}
	}
	@media (min-width:620px) and (max-width:breakpoints(tablet)){
		.placeholder-content{
			right:60px;
			left:60px;
			.placeholder-mobile{
				.video-caption{
					font-size:36px;
					line-height:42px;
				}
			}
		}

	}
}


.card.card-video.video-playing {
	.video-container{
		display:block;
	}
}