.card.card-photo{
	overflow:hidden;
	
	.photo-bg-container{
		background-size:cover;
		background-position:center;
		width:100%;
		height:100%;
		img{display:none;}
	}
	.photo-caption-container{
		position: absolute;
		bottom:0;
		width:100%;
	}

	.photo-caption{
		height:auto;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.70) 100%);
		display: block;
		height:100%;
		padding:40px 10px 16px;
		opacity:1;
		transition:opacity 0.4s;
		position: relative;
		
		p{
			margin:0;
			font-size:14px;
			line-height:18px;
			font-family:$f-sans-serif-text;
			color:#fff;
			text-shadow:0 1px 0 rgba(0,0,0,0.2);
		}
	}

	@media(min-width: breakpoints(tablet)){
		height:auto;
		position: relative;

		.photo-bg-container{
			background:none;
			img{
				display:block;
				width:100%;
			}
		}
		&:hover{
			.photo-caption{
				opacity:0;
			}
		}
		.photo-caption p{
			max-width:580px;
		}
		.photo-caption:hover{
			// opacity:1;
		}
	}
}