.card.card-paragraph{
	// background:#F8CE4B;

	.paragraph-container{
		position: absolute;
		left:20px;
		top:45%;
		right:20px;
		transform:translateY(-50%);
	}
	h3{
		font-family: $f-serif-headline;
		font-size:30px;
		line-height:30px;
		margin-bottom:48px;
	}
	p{
		font-size:16px;
		line-height:24px;
		&:before{
			width:70px;
			border-top:1px solid;
			display: block;
			content:'';
			margin-bottom:5px;

		}
		
	}

	@media (min-width:480px) and (max-width:breakpoints(tablet)){
		.paragraph-container{
			right:40px;
			left:40px;
		}
	}
	@media (min-width:620px) and (max-width:breakpoints(tablet)){
		.paragraph-container{
			right:60px;
			left:60px;
			h3{
				font-size:36px;
				line-height:42px;
			}
			p{
				font-size:18px;
			}
		}

	}
	
	@media(min-width: breakpoints(tablet)){
		height:auto;
		padding:0;
		position: relative;
		box-shadow:none;
		margin-top:0;

		.paragraph-container{
			position: relative;
			transform:none;
			left:auto;
			top:auto;
			right:auto;
			margin:0;
		}
		h3{
			font-size:24px;
			line-height:30px;
			margin-bottom:46px;
		}
		p{
			font-size:16px;
			line-height:24px;
			margin-top:2em;
			&:before{
				display:none;
			}
		}
	}

	@media(min-width: breakpoints(desktop)){
		&.size-l, &.size-xl{
			h3{
				font-size:28px;
			}
		}
		&.size-l{
			p{
				max-width:580px;
			}
		}

		&.size-xl{
			p{
				column-count:2;
				break-inside: avoid;
				position: relative;
				&:before{
					position: absolute;
					top:-5px;
				}
			}
		}
	}

	@media(min-width: breakpoints(leftCol)){

		&.size-l, &.size-xl{
			p{
				column-count:2;
				break-inside: avoid;
				position: relative;
				max-width:900px;
				&:before{
					position: absolute;
					top:-5px;
				}
			}
		}

	}

	@media(min-width: breakpoints(wide)){
		&.size-xl{
			p{
				max-width:1060px;
			}
		}
	}
}

@media(min-width: breakpoints(tablet)){
	.slide-text+.slide-text{
		.card.card-paragraph{
			box-shadow:none;
			.paragraph-container{
				p{
					margin-top:0;
					&:before{
						display:none;
					}
				}
			}
		}
	}
	.slide-title+.slide-text{
		.card.card-paragraph{
			p{
				margin-top:0;
			}
			p:before{
				display:block;
			}
		}
	}
}

@media(min-width: breakpoints(desktop)){
	#blocks-wrapper .slide-text.size-m{
		width:auto;
		max-width:620px;
	}
}