.card.card-transition{
	// background:#F8CE4B;

	.paragraph-container{
		position: absolute;
		left:10px;
		top:45%;
		right:10px;
		transform:translateY(-50%);
	}

	p{
		font-size:24px;
		line-height:28px;

		b {
		    font-weight: 900;
		    font-family: Guardian Egyptian Web,Georgia,serif;

		}
		
	}

	@media(min-width: 375px){
		p{
			font-size:32px;
			line-height:36px;	
		}
	}

}

