.card.card-paragraph{
	background:#F8CE4B;

	.paragraph-container{
		position: absolute;
		left:20px;
		top:45%;
		right:20px;
		transform:translateY(-50%);
	}
	h3{
		font-family: $f-serif-headline;
		color:#5A5238;
		font-size:30px;
		line-height:30px;
		margin-bottom:48px;
	}
	p{
		font-size:16px;
		line-height:24px;
		color:#5A5238;
		&:before{
			width:70px;
			border-top:1px solid;
			display: block;
			content:'';
			margin-bottom:5px;

		}
		
	}
	
	@media(min-width: breakpoints(tablet)){
		height:auto;
		padding:1px 20px;
		position: relative;

		.paragraph-container{
			position: relative;
			transform:none;
			left:auto;
			top:auto;
			right:auto;
			margin:36px 0 60px;
		}
		h3{
			font-size:24px;
			line-height:30px;
			margin-bottom:46px;
		}
		p{
			font-size:16px;
		}
	}

	@media(min-width: breakpoints(desktop)){
		&.size-l, &.size-xl{
			h3{
				font-size:28px;
			}
		}
		&.size-l{
			p{
				max-width:580px;
			}
		}

		&.size-xl{
			p{
				column-count:2;
				break-inside: avoid;
				position: relative;
				&:before{
					position: absolute;
					top:-5px;
				}
			}
		}
	}

	@media(min-width: breakpoints(leftCol)){

		&.size-l, &.size-xl{
			p{
				column-count:2;
				break-inside: avoid;
				position: relative;
				max-width:900px;
				&:before{
					position: absolute;
					top:-5px;
				}
			}
		}

	}

	@media(min-width: breakpoints(wide)){
		&.size-xl{
			p{
				max-width:1060px;
			}
		}
	}
	
}