#header-wrapper{
    .header-inner{
       
        color:#FDEEE1;
        h1{
             font-family: $f-serif-headline;
            font-size:42px;
            line-height:42px;
            font-weight:bold;
            margin-bottom:0;
            span{
                display:inline;
            }
            
        }
        p{
            font-weight:100;
            font-size:16px;
            line-height:21px;
            margin:12px 0;
        }
    }
    &:after{
        clear:both;
        display:block;
        content:'';
    }
}

.gv-start-button {
    color: #fff;
    float:right;
    font-family:$f-sans-serif-text;
    margin-top:20px;

    span{
        width: 34px;
        height: 34px;
        background: #ffbb00;
        border: none;
        border-radius: 80px;
        outline: none;
        display:inline-block;
        margin-top:-6px;
        vertical-align: top;
        background-image: url(/imgs/arrow-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        transform:rotate(90deg);
    }
}

.mobile-opener {
    padding: 20px;
    background-image:url(/imgs/mekong_mobile.jpg);
    background-size:cover;
}

.mobile-cards {
    position: relative;
}

.mobile-cards-overlay {
    position: absolute;
    background: #000;
    opacity: .75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.mobile-cards-active {
    display: none;
}


@media(min-width: breakpoints(tablet)){
    #header-wrapper{
        background:#665C50;
        width:auto;
        margin:0 -20px;
        min-height:740px;
        position: relative;

        .header-image-container{
        	background: #FDEEE1;
        	line-height: 0;
        	position: relative;
        	z-index: 1;
            margin-left:80px;
        	img{
        		width:115%;
                margin-left:0;
        	}
        }
        .header-inner{
        	position: absolute;
            top:0;
            left:0;
            right:0;
        	z-index:2;
        	padding:280px 20px 0 20px;
        	overflow:hidden;
        	h1{
        		font-size:90px;
        		max-width:480px;
        		line-height:90px;
        		float:left;
        		margin-bottom:0;
        		span{
        			display:block;
        		}
        		#title-break-1{
        			margin-left:67px;
        		}
        		#title-break-2{
        			margin-left:96px;
        		}
        	}
        	h2{
        		font-size:22px;
        		line-height:30px;
        		max-width:540px;
                font-weight:400;
        		position: absolute;
        		bottom:10px;
        		left:340px;
        		margin:0;
        	}
        }
        h1{
        }
    }
}

@media(min-width: breakpoints(wide)){
	#header-wrapper{
		margin-left:-180px;
        .header-inner{
            padding-left:180px;
            h2{
                left:500px;
            }
        }
	}
}