@media(min-width: breakpoints(tablet)){
    #header-wrapper{
        background-color:#867F74;
        width:auto;
        margin:0 -20px;
        padding-top:1px;
        min-height:740px;
        position: relative;
        overflow: hidden;
        .header-image-container{
        	background: #333333;
        	line-height: 0;
        	position: absolute;
        	overflow: hidden;
        	border: 1px solid #867F75;
        	z-index: 1;
        	top:-2px;
        	left:-2px;
        	height:513px;
        	img{
        		width:101%;
        	}
        }
        .header-inner{
        	position: relative;
        	z-index:2;
        	font-family: $f-serif-headline;
        	color:#FFBB24;
        	padding:320px 20px 0 20px;
        	overflow:hidden;
        	h1{
        		font-size:90px;
        		max-width:480px;
        		line-height:90px;
        		font-weight:bold;
        		float:left;
        		margin-bottom:0;
        		span{
        			display:block;
        		}
        		#title-break-1{
        			margin-left:60px;
        		}
        		#title-break-2{
        			margin-left:96px;
        		}
        	}
        	h2{
        		font-weight:100;
        		font-size:22px;
        		line-height:30px;
        		max-width:540px;
        		position: absolute;
        		bottom:10px;
        		left:340px;
        		margin:0;
        	}
        }
        h1{
        }
    }
}

@media(min-width: breakpoints(wide)){
	#header-wrapper{
		margin-left:-180px;
        .header-inner{
            padding-left:180px;
            h2{
                left:500px;
            }
        }
	}
}