#header-wrapper{
    margin-top:90px;
    .header-inner{
       
        color:#FDEEE1;
        h1{
            font-family: $f-serif-headline;
            font-size:42px;
            line-height:42px;
            font-weight:bold;
            margin-bottom:0;
            span{
                display:inline;
            }
            
        }
        h2{
            margin-top:24px;
            font-size:16px;
        }
        h2,h3,p{
            font-family: $f-serif-headline;
        }
        p{
            font-weight:400;
            font-size:16px;
            line-height:21px;
            margin:12px 0;
        }
    }
    &:after{
        clear:both;
        display:block;
        content:'';
    }
}
.shareButtons{
    position: absolute;
    top:0;
    left:20px;
    button.gv-share{
        border: 1px solid rgba(255,255,255,0.15);
        height: 40px;
        width:40px;
        background-color:transparent;
        background-size:32px;
    }
}

.gv-start-button {
    color: #ffbb00;
    font-size:14px;
    float:right;
    font-family:$f-sans-serif-text;
    margin-top:20px;

    span{
        width: 34px;
        height: 34px;
        background: #ffbb00;
        border: none;
        border-radius: 80px;
        outline: none;
        display:inline-block;
        margin-top:-8px;
        vertical-align: top;
        background-image: url(/imgs/arrow-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        transform:rotate(90deg);
    }
}

.gv-header-journey-text {
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
    font-family:$f-sans-serif-text;
    color: rgba(253,238,225,0.6);

}
.gv-header-down, .gv-header-right {
    margin-left: 5px;
    width: 16px;
    line-height:24px;
    height: 16px;
    background: #ffbb00;
    border: none;
    border-radius: 80px;
    outline: none;
    display:inline-block;
    background-image: url(/imgs/arrow-icon.svg);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
    margin-bottom: -5px;

}

.gv-header-down {
    transform:rotate(90deg);
}

.card-opener {
    padding: 20px;
    background-color:#333;
    background-image:url(/imgs/river-header-mobile.png);
    background-size:100%;
    background-repeat:no-repeat;
}

@media(min-width: breakpoints(tablet)){
    #header-wrapper{
        background:#333;
        width:auto;
        margin:0 -20px;
        position: relative;
        background-image: url(/imgs/river-header.png);
        background-repeat:no-repeat;
        background-size:140%;

        .header-image-container{
        	line-height: 0;
        	position: relative;
        	z-index: 1;
            margin-left:80px;

        	img{
        		width:115%;
                margin-left:0;
        	}
        }
        .header-inner{
        	z-index:2;
        	padding:100px 20px 80px 20px;
        	overflow:hidden;
        	h1{
        		font-size:78px;
        		max-width:480px;
        		line-height:78px;
        		margin-bottom:0;
                margin-top:0;
        		span{
        			// display:block;
        		}
        	}
        	h2{
        		font-size:22px;
        		line-height:30px;
        		max-width:630px;
                font-weight:100;
        		margin:20px 0 0;
        	}
            h3{
                font-size:22px;
                margin:0;
                line-height:30px;
                a{
                    color:#ffbb00;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .shareButtons{
                margin-top:40px;
                margin-bottom:0;
                border-top:1px solid #6C6A62;
                display:inline-block;
                padding-top:12px;
                button.gv-share{
                }
            }
        }
        h1{
        }
    }
}

@media(min-width: breakpoints(leftCol)){
	#header-wrapper{
		margin-left:-180px;
        .header-inner{
            padding-left:180px;
        }
	}
}