@import 'modules/_breakpoints';
@import 'modules/_typography';
@import 'cards/card-photo';
@import 'cards/card-quote';
@import 'cards/card-paragraph';
@import 'cards/card-video';
@import 'swiper';
// @import 'modules/_palette';
// @import 'modules/_grid-system';
// @import 'modules/_mq';
// @import 'modules/_side-margins';

body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    background:#333;
    margin: 0;
    padding:1px 0;
    *, * *{
    	box-sizing:border-box;
    }

    @media ( max-width: breakpoints(mobile) ) {
        // Do something..
    }

    .card{
        position:fixed;
        width:100%;
        height:100%;
    }

    @media(min-width: breakpoints(phablet)){
        

        .card{
            position:relative;
            width:320px;
            height:540px;
            margin:20px;
            border-radius: 3px;
        }
    }
}
